:root {
  --feedbackfin-bg-color: #fff;
  --feedbackfin-border-color: #e2e2e2;
  --feedbackfin-shadow: rgba(7, 0, 20, 0.06) 0px 0px 0px 1px,
    rgba(7, 0, 20, 0.1) 0px 10px 15px -3px, rgba(7, 0, 20, 0.05) 0px 4px 6px,
    rgba(7, 0, 20, 0.05) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.04;
  --feedbackfin-button-opacity-hover: 0.08;
  --feedbackfin-button-opacity-active: 0.12;
  --feedbackfin-icon-button-opacity: 0.38;

  --feedbackfin-outline-opacity: 0.12;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);

  --feedbackfin-primary-color-text: #000;
  --feedbackfin-secondary-color-text: #979797;

  --feedbackfin-user-message-text-color: #fff;
  --feedbackfin-user-message-bg-color: #2c91ed;
  --feedbackfin-system-message-text-color: #000;
  --feedbackfin-system-message-bg-color: #e4e4e4;

  --feedbackfin-primary-color: #2c91ed;
  --chatbot-header-height: 4rem;
  --feedbackfin-focus-color: var(--feedbackfin-primary-color);
  --feedbackfin-button-transition: background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  --feedbackfin-title-weight: 600;
  --feedbackfin-button-weight: 500;
  --feedbackfin-border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --feedbackfin-bg-color: #2d2d30;
    --feedbackfin-border-color: #424244;
    --feedbackfin-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
      rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
      rgba(0, 0, 5, 0.2) 0px 30px 40px;

    --feedbackfin-button-opacity: 0.08;
    --feedbackfin-button-opacity-hover: 0.12;
    --feedbackfin-button-opacity-active: 0.16;
    --feedbackfin-icon-button-opacity: 0.5;

    --feedbackfin-outline-opacity: 0.2;
    --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
      0 0 0 4px var(--feedbackfin-focus-color);

    --feedbackfin-primary-color-text: #fff;
    --feedbackfin-secondary-color-text: #818183;

    --feedbackfin-user-message-text-color: #fff;
    --feedbackfin-user-message-bg-color: #2c91ed;
    --feedbackfin-system-message-text-color: #fff;
    --feedbackfin-system-message-bg-color: #424244;
  }
}

[data-theme="light"] {
  --feedbackfin-bg-color: #fff;
  --feedbackfin-border-color: #e2e2e2;
  --feedbackfin-shadow: rgba(7, 0, 20, 0.06) 0px 0px 0px 1px,
    rgba(7, 0, 20, 0.1) 0px 10px 15px -3px, rgba(7, 0, 20, 0.05) 0px 4px 6px,
    rgba(7, 0, 20, 0.05) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.04;
  --feedbackfin-button-opacity-hover: 0.08;
  --feedbackfin-button-opacity-active: 0.12;
  --feedbackfin-icon-button-opacity: 0.38;

  --feedbackfin-outline-opacity: 0.12;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);

  --feedbackfin-primary-color-text: #000;
  --feedbackfin-secondary-color-text: #979797;

  --feedbackfin-user-message-text-color: #fff;
  --feedbackfin-user-message-bg-color: #2c91ed;
  --feedbackfin-system-message-text-color: #000;
  --feedbackfin-system-message-bg-color: #e4e4e4;
}

[data-theme="dark"] {
  --feedbackfin-bg-color: #2d2d30;
  --feedbackfin-border-color: #424244;
  --feedbackfin-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
    rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
    rgba(0, 0, 5, 0.2) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.08;
  --feedbackfin-button-opacity-hover: 0.12;
  --feedbackfin-button-opacity-active: 0.16;
  --feedbackfin-icon-button-opacity: 0.5;

  --feedbackfin-outline-opacity: 0.2;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);

  --feedbackfin-primary-color-text: #fff;
  --feedbackfin-secondary-color-text: #818183;

  --feedbackfin-user-message-text-color: #fff;
  --feedbackfin-user-message-bg-color: #2c91ed;
  --feedbackfin-system-message-text-color: #fff;
  --feedbackfin-system-message-bg-color: #424244;
}

#feedbackfin__container {
  position: fixed;
  z-index: 9999;

  width: 25rem;
  height: 40rem;
  box-sizing: border-box;

  background-color: var(--feedbackfin-bg-color);
  box-shadow: var(--feedbackfin-shadow);
  border-radius: var(--feedbackfin-border-radius);

  font-family: inherit;
  font-size: 1rem;
  color: var(--feedbackfin-primary-color-text);
}

#feedbackfin__backdrop {
  position: fixed;
  z-index: 9998;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;

  background-color: transparent;
}

#feedbackfin__container * {
  box-sizing: border-box;
}
#feedbackfin__container *:focus {
  outline: none;
}
#feedbackfin__container *:focus-visible {
  outline: none;
  box-shadow: var(--feedbackfin-focus-shadow);
}

#chatbot__header {
  display: flex;
  height: var(--chatbot-header-height);
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--feedbackfin-border-color);
}

#chatbot__title {
  display: flex;
  align-items: center;
  font-weight: var(--feedbackfin-title-weight);
  width: 60%;
}

#chatbot__title_icon {
  margin-right: 0.5rem;
  width: 24px;
  height: 19px;
}

#chatbot__title_icon path {
  fill: var(--feedbackfin-primary-color-text);
}

#chatbot__title_text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#chatbot__branding {
  text-decoration: none;
  font-size: 0.75rem;
  color: var(--feedbackfin-secondary-color-text);
}

#chatbot__branding > span {
  color: var(--feedbackfin-primary-color-text);
}

.feedbackfin__button {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font: inherit;
  font-weight: var(--feedbackfin-button-weight);
  color: inherit;
  min-height: 2rem;
  line-height: 2rem;

  transition: var(--feedbackfin-button-transition);
}

.feedbackfin__button:active {
  transform: scale(0.9);
  transition-duration: 0s;
}

#chatbot__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100% - var(--chatbot-header-height));
}

#chatbot__messages_history {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  /* Hide scrollbar for... */
  -ms-overflow-style: none; /* ... IE, Edge... */
  scrollbar-width: none; /* ... and Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#chatbot__messages_history::-webkit-scrollbar {
  display: none;
}

#chatbot__messages_history .chatbot__message {
  border-radius: 1rem;
  max-width: 85%;
  margin-bottom: 0.5rem;
  padding: 1rem;
}
#chatbot__messages_history p {
  margin: 0;
  white-space: pre-line;
}
#chatbot__messages_history .chatbot__message p:nth-child(2) {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 0.5rem;
}

#chatbot__messages_history .chatbot__message.chatbot__message--system {
  background-color: var(--feedbackfin-system-message-bg-color);
  align-self: flex-start;
}
#chatbot__messages_history .chatbot__message.chatbot__message--system p {
  text-align: left;
  color: var(--feedbackfin-system-message-text-color);
}
#chatbot__messages_history .chatbot__message.chatbot__message--user {
  background-color: var(--feedbackfin-user-message-bg-color);
  align-self: flex-end;
}
#chatbot__messages_history .chatbot__message.chatbot__message--user p {
  text-align: right;
  color: var(--feedbackfin-user-message-text-color);
}

#feedbackfin__form {
  display: flex;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0rem;
  width: 100%;
}

#feedbackfin__step2 {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

#feedbackfin__input_field {
  flex-grow: 1;
  resize: none;
  border-radius: 23px; /* Half of the height, to make it pill-shaped */
  border: 2px solid var(--feedbackfin-border-color);
  background: none;

  font: inherit;
  color: inherit;
  padding: 0.5rem 0.75rem;
}
#feedbackfin__input_field:focus {
  border-color: var(--feedbackfin-focus-color);
  box-shadow: none;
}

#feedbackfin__submit {
  position: relative;
  background-color: var(--feedbackfin-primary-color);
  color: var(--feedbackfin-primary-color-text);
}
#feedbackfin__submit:hover,
#feedbackfin__submit:focus-visible,
#feedbackfin__submit:active {
  background-color: var(--feedbackfin-primary-color);
}

#feedbackfin__submit[disabled] {
  background-color: var(--feedbackfin-border-color);
  opacity: 0.5;
  cursor: default;
}
