:root {
  --feedbackfin-bg-color: #fff;
  --feedbackfin-text-color: 240, 100%, 10%;
  --feedbackfin-shadow: rgba(7, 0, 20, 0.06) 0px 0px 0px 1px,
    rgba(7, 0, 20, 0.1) 0px 10px 15px -3px, rgba(7, 0, 20, 0.05) 0px 4px 6px,
    rgba(7, 0, 20, 0.05) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.04;
  --feedbackfin-button-opacity-hover: 0.08;
  --feedbackfin-button-opacity-active: 0.12;
  --feedbackfin-icon-button-opacity: 0.38;

  --feedbackfin-outline-opacity: 0.12;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);

  --feedbackfin-primary-color: #6a35ff;
  --feedbackfin-primary-color-text: #fff;
  --feedbackfin-focus-color: var(--feedbackfin-primary-color);
  --feedbackfin-button-transition: background-color 0.2s ease-in-out,
    opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  --feedbackfin-title-weight: 600;
  --feedbackfin-button-weight: 500;
  --feedbackfin-border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --feedbackfin-bg-color: #2d2d30;
    --feedbackfin-text-color: 240, 10%, 90%;
    --feedbackfin-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
      rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
      rgba(0, 0, 5, 0.2) 0px 30px 40px;

    --feedbackfin-button-opacity: 0.08;
    --feedbackfin-button-opacity-hover: 0.12;
    --feedbackfin-button-opacity-active: 0.16;
    --feedbackfin-icon-button-opacity: 0.5;

    --feedbackfin-outline-opacity: 0.2;
    --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
      0 0 0 4px var(--feedbackfin-focus-color);
  }
}

[data-theme="light"] {
  --feedbackfin-bg-color: #fff;
  --feedbackfin-text-color: 240, 100%, 10%;
  --feedbackfin-shadow: rgba(7, 0, 20, 0.06) 0px 0px 0px 1px,
    rgba(7, 0, 20, 0.1) 0px 10px 15px -3px, rgba(7, 0, 20, 0.05) 0px 4px 6px,
    rgba(7, 0, 20, 0.05) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.04;
  --feedbackfin-button-opacity-hover: 0.08;
  --feedbackfin-button-opacity-active: 0.12;
  --feedbackfin-icon-button-opacity: 0.38;

  --feedbackfin-outline-opacity: 0.12;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);
}

[data-theme="dark"] {
  --feedbackfin-bg-color: #2d2d30;
  --feedbackfin-text-color: 240, 10%, 90%;
  --feedbackfin-shadow: rgba(0, 0, 5, 0.24) 0px 0px 0px 1px,
    rgba(0, 0, 5, 0.4) 0px 10px 15px -3px, rgba(0, 0, 5, 0.2) 0px 4px 6px,
    rgba(0, 0, 5, 0.2) 0px 30px 40px;

  --feedbackfin-button-opacity: 0.08;
  --feedbackfin-button-opacity-hover: 0.12;
  --feedbackfin-button-opacity-active: 0.16;
  --feedbackfin-icon-button-opacity: 0.5;

  --feedbackfin-outline-opacity: 0.2;
  --feedbackfin-focus-shadow: 0 0 0 2px var(--feedbackfin-bg-color),
    0 0 0 4px var(--feedbackfin-focus-color);
}

#feedbackfin__container {
  position: fixed;
  z-index: 9999;

  width: 25rem;
  height: 40rem;
  box-sizing: border-box;

  background-color: var(--feedbackfin-bg-color);
  box-shadow: var(--feedbackfin-shadow);
  border-radius: var(--feedbackfin-border-radius);

  padding: 0.75rem 1rem;

  font-family: inherit;
  font-size: 1rem;
  color: hsl(var(--feedbackfin-text-color));
}

#feedbackfin__backdrop {
  position: fixed;
  z-index: 9998;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-sizing: border-box;

  background-color: transparent;
}

#feedbackfin__container * {
  box-sizing: border-box;
}
#feedbackfin__container *:focus {
  outline: none;
}
#feedbackfin__container *:focus-visible {
  outline: none;
  box-shadow: var(--feedbackfin-focus-shadow);
}

.feedbackfin__button {
  background-color: hsla(
    var(--feedbackfin-text-color),
    var(--feedbackfin-button-opacity)
  );
  border: none;
  border-radius: calc(var(--feedbackfin-border-radius) / 2);
  padding: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font: inherit;
  font-weight: var(--feedbackfin-button-weight);
  color: inherit;
  min-height: 2rem;
  line-height: 2rem;

  transition: var(--feedbackfin-button-transition);
}
.feedbackfin__button:hover,
.feedbackfin__button:focus-visible {
  background-color: hsla(
    var(--feedbackfin-text-color),
    var(--feedbackfin-button-opacity-hover)
  );
}
.feedbackfin__button:active {
  background-color: hsla(
    var(--feedbackfin-text-color),
    var(--feedbackfin-button-opacity-active)
  );
  transform: scale(0.97);
  transition-duration: 0s;
}
#feedbackfin__form {
  position: relative;
  width: 100%;
}

#feedbackfin__step2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#feedbackfin__message {
  min-height: 5rem;
  resize: none;

  border-radius: calc(var(--feedbackfin-border-radius) / 2);
  border: 2px solid
    hsla(var(--feedbackfin-text-color), var(--feedbackfin-outline-opacity));
  background: none;

  font: inherit;
  color: inherit;
  padding: 0.5rem;
}
#feedbackfin__message:focus {
  border-color: var(--feedbackfin-focus-color);
  box-shadow: none;
}

#feedbackfin__submit {
  position: relative;

  background-color: var(--feedbackfin-primary-color);
  color: var(--feedbackfin-primary-color-text);
}
#feedbackfin__submit:hover,
#feedbackfin__submit:focus-visible,
#feedbackfin__submit:active {
  background-color: var(--feedbackfin-primary-color);
}
#feedbackfin__submit::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--feedbackfin-primary-color-text);
  border-radius: inherit;
  opacity: 0;

  transition: var(--feedbackfin-button-transition);
}
#feedbackfin__submit:hover::before,
#feedbackfin__submit:focus-visible::before {
  opacity: var(--feedbackfin-button-opacity-hover);
}
#feedbackfin__submit:active::before {
  opacity: var(--feedbackfin-button-opacity-active);
}

#feedbackfin__submit[disabled] {
  background-color: hsla(
    var(--feedbackfin-text-color),
    var(--feedbackfin-button-opacity-hover)
  );
  color: hsla(
    var(--feedbackfin-text-color),
    var(--feedbackfin-icon-button-opacity)
  );
  cursor: default;
}
#feedbackfin__submit[disabled]::before {
  content: none;
}
